body {
  font-size: 12px;
  box-sizing: border-box;
}
.menu {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 10vh;
  width: 100%;
  background-color: #0f5e0fd0;
  box-shadow: 0px 5px 10px #491b1b;
  position: fixed;
  color: white;
 
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(102, 49, 32);
    top: 100%;
    left: 0;
  }
  .bernese_signature {
    display: flex;
    align-items: center;
    div {
      height: 155px;
      width: 64px;
      margin: 0 20px 0 0;
      background-image: url("../assets/5f1edd50c359d.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    h2 {
      font-size: 3rem;
      font-weight: 700;
      font-family: "Amatic SC", cursive;
      letter-spacing: 5px;
    }
  }
  .fa-bars {
    display: none;
  }
  .menu_section {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .nav {
      padding: 40px;
      font-weight: 700;
      font-size: 1.5rem;
      transition: 1s;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  
}
video {
  z-index: -1;
  height: 50%;
  width: 100%;
}
.video_banner {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
}

#about_us {
  padding: 10px 50px;
  margin: 15px 0;
  background-color: #c7ecc7;

  width: 50vw;
  height: 50vh;
  position: relative;
  left: 20%;
  h2 {
    font-weight: 700;
  }
  p {
    font-size: 1rem;
  }
}

#gallery {
  .slider-wrapper {
    height: 70vh;
    width: 70%;
  }

  .control-next.control-arrow {
    right: 20%;
    color: black;
  }
  .control-prev.control-arrow {
    left: 20%;
  }
}

#contact {
  margin: 20px 0;
  width: 50%;
  height: 35vh;
  padding: 10px 50px;
  position: relative;
  left: 20%;
  background-color: #c7ecc7;
  text-align: center;
  h2 {
    padding: 20px 0;
  }
  p {
    font-size: 1rem;
  }
  i {
    padding: 5px;
  }
}
.footer {
  padding: 10px;
  height: 15px;
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  background-color: #0f5e0fd0;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    padding: 0 20px;
  }
  p {
    display: inline-block;
    padding: 0 5px;
  }
}

@media screen and (max-width: 1024px) {
  #gallery {
    .slider-wrapper {
      height: 40vh;
    }
  }
  .menu {
    .menu_section {
      .nav {
        padding: 20px;

        font-size: 1.2rem;
      }
    }
  }
  #about_us {
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 15px 0;

    width: 100%;
    height: 50vh;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  #gallery {
    .slider-wrapper {
      height: 100%;
      width: 100%;
    }

    .control-next.control-arrow {
      right: 0;
    }
    .control-prev.control-arrow {
      left: 0;
    }
  }

  #contact {
    margin: 20px 0;
    width: 100%;
    height: 40vh;
    padding: 10px;
    box-sizing: border-box;

    left: 0;
  }
  .menu {
    height: 5vh;
    .menu_section {
      .nav {
        padding: 10px;

        font-size: 1.3rem;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .bernese_signature {
      h2 {
        font-size: 1.5rem;
      }
      div {
        width: 39px;
      }
    }
  }
  #about_us {
    height: 60vh;
  }
}

@media screen and (max-width: 450px) {
  .menu {
    height: 3vh;
    .menu_section {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 436%;
      background-color:#0f5e0fd0;
      z-index: 4;
      padding: 4px 10px 10px 10px;
 
    }
    .fa-bars {
      display: block;
      position: absolute;
      top: 17%;
      left: 80%;
      font-size: 1.8rem;
    }
    .menu_section {
      .nav {
        padding: 10px;

        font-size: 1.3rem;
      }
    }
    .bernese_signature {
      h2 {
        font-size: 1.3rem;
      }
      div {
        width: 30px;
      }
    }
  }

  #about_us {
    height: 80vh;
    padding: 40px;
    p {
      font-size: 0.8rem;
    }
  }

  #contact {
    margin: 11px 0;

    height: 50vh;
    padding: 10px;
    box-sizing: border-box;
  }
  video {
    position: relative;
    top: 49px;
  }

  .footer {
    div {
      padding: 0 10px;
    }
  }
}
